[submodule "custom-packages/log-ts-mode"]
	path = custom-packages/log-ts-mode
	url = git@github.com:simonsjw/log-ts-mode.git
[submodule "custom-packages/logging-view-mode"]
	path = custom-packages/logging-view-mode
	url = git@github.com:simonsjw/logging-view-mode.git
[submodule "custom-packages/q-loadbalancer"]
	path = custom-packages/q-loadbalancer
	url = git@github.com:simonsjw/q-loadbalancer.git
[submodule "custom-packages/systemd-mode"]
	path = custom-packages/systemd-mode
	url = git@github.com:holomorph/systemd-mode.git
[submodule "etc/INFODYNAMICS/lang-servers/MATLAB-language-server"]
	path = etc/INFODYNAMICS/lang-servers/MATLAB-language-server
	url = https://github.com/mathworks/MATLAB-language-server
[submodule "etc/INFODYNAMICS/lang-servers/texlab"]
	path = etc/INFODYNAMICS/lang-servers/texlab
	url = https://github.com/latex-lsp/texlab
