*.eld
*.log
*.eln
etc/images/ucd.all.flat.xml
etc/**/dist
etc/**/eln-cache
etc/**/elpa
etc/**/gnupg
etc/**/gnus
etc/**/straight
var/**/.cache_latex
var/**/anaconda-mode
var/**/auto-save
var/**/backups
var/**/elisp-autofmt/
var/**/org/persist/**
var/**/project-list.el
var/**/projectile
var/**/recentf-save.el
var/**/savehist.el
var/**/transient/**
var/**/url/
var/**/undo/
**/eln-cache/
var/**/clock-persist.el
/tree-sitter/
var/**/persistent-scratch.el
var/**/org/org-roam.db
/var/INFODYNAMICS/image-dired/*.jpg
