*.eld
*.log
*.eln
*.elc
*.cache_latex
tree-sitter/
**/eln-cache/
etc/images/ucd.all.flat.xml
etc/**/dist
etc/**/eln-cache
etc/**/elpa
etc/**/gnupg
etc/**/gnus
etc/**/package
etc/**/straight
var/**/.cache_latex
var/**/anaconda-mode
var/**/auto-save
var/**/backups
var/**/elisp-autofmt/
var/**/org/persist/
var/**/project-list.el
var/**/projectile
var/**/recentf-save.el
var/**/savehist.el
var/**/transient/
var/**/url/
var/**/undo/
var/**/clock-persist.el
var/**/persistent-scratch.el
var/**/org/org-roam.db
var/**/image-dired/
var/**/eshell/
var/**/tramp/
var/**/dape/dape-breakpoints
var/**/bmkp/bookmark-default.el
custom-packages/worg/



custom-packages/cell-mode/cell-mode.elc
